* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.logo-container {
    padding: 5px;
}

.logo {
    height: 50px;
    line-height: 50px;
    vertical-align: middle;

}

.title {
    display: inline;
    font-size: 50px;
    vertical-align: middle;
}

.container {
    max-width: 1080px;
    margin: 0 auto;
}

.container-button {
    text-align: left;
    height: 70px;
    width: 50%;
    background-color: white;
    margin-top: 100px;
    margin-left: 300px;
    border-radius: 2px;
    padding: 15px;
    padding-left: 20px;
}

.button {
    height: 30px;
    width: 80px;
    border-radius: 4px;
}

.button-blue {
    background-color: rgb(0, 110, 255);
    color: white;
    border-color: rgb(0, 110, 255);
}

.button-grey {
    background-color: white;
    border: 1px solid lightgrey;
    color: lightgrey;
}